<div class="container-fluid bg-light">
    <!-- <input type="text" name="search" [(ngModel)]='repoName' (keyup)="findRepo()"> -->
    <div class="container">
        <div class="container search-box">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header bg-success text-white">
                            <h3>Github Repo Search</h3>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <input type="text" name="search" [(ngModel)]='repoName' (keyup)="findRepo()">
                                    <label for="search" class="ml-3">Searching.....</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="repoitems" >
            <div class="card" *ngFor='let item of repoitems'>
                <div class="card-body" appHighlight>
                    <a href="{{item.html_url}}" target="_blank"><strong>{{item.name}}</strong></a>
                    <p><strong>Created:</strong> {{item.created_at|dateAgo}}</p>
                    <p><strong>Created by:</strong> {{item.owner.login}}</p>
                    <p><strong>Language used:</strong> {{item.language}}</p>
                    <p>{{item.description}}</p>
                </div>
            </div>

        </div>

    </div>
</div>