<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <img src="../assets/logo.png" alt="" width="60px" height="40px">
  <a class="navbar-brand" href="#">GPS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/repos">RepoRoute</a>
      </li>
    </ul>
  </div>
</nav>
<!-- img bg -->
<div class="top sticky-top">
  <!-- <img src="../assets/Bg.jpg" alt="" height="300px"> -->
</div>

<!-- route section -->
<div class="container text-center userSearch"  (click)="this.isVisible = false" *ngIf="this.isVisible" id="top">
  <h1>Welcome to Github Search</h1> <hr>
  <div>
    <a routerLink="./users"> <button class="btn btn-success " *ngIf="this.isButtonClicked" (click)="this.isButtonClicked = false">Search By User</button></a>
    <br>
    <p class="mt-3"><strong>OR</strong></p>
    <a routerLink="./repos"> <button class="btn btn-success" *ngIf="this.isButtonClicked" (click)="this.isButtonClicked = false">Search For Repos</button></a>
  </div>
</div>


<router-outlet></router-outlet>